/* Default styles */
*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    background: #c4d1e2 url(../img/introbg.jpg) center no-repeat;
    background-size: cover;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    max-width: 940px;
    padding: 0 30px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #fafafa;
    position: fixed;
    width: 100%;
    background-color: #c4d1e2;
    background-size: cover;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    font-weight: 700;
    padding: 10px;
    transition: opacity 0.2s linear;
}

.nav__link:hover {
    opacity: 0.85;
    text-decoration: underline;
}

.slider-slick {
    max-width: 400px;
    margin: 20px auto;
    overflow: hidden;
}

.rez-img {
    max-width: 100%;
    height: auto;
}

.slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    position: absolute;
    bottom: 5%;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots button {
    width: 15px;
    height: 15px;
    border: 0;
    background: #fff;
    border-radius: 50%;
    font-size: 0;
    margin: 0;
    color: transparent;
    opacity: 0.5;
    cursor: pointer;
}

.slick-dots button:focus {
    outline: 0;
    border: 1px solid #000;
}

.slick-dots .slick-active button {
    opacity: 1;
}

.section__title {
    text-align: center;
    font-weight: 700;
}

.section__subtitle {
    display: block;
    text-align: center;
    font-weight: 500;
}

.section__button {
    display: block;
    border: 2px solid black;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    background: none;
    margin: 20px auto;
    padding: 5px 20px;
    cursor: pointer;
    font-weight: 500;
    transition: color 0.2s linear , background 0.2s linear;
}

.section__button.hidden {
    display: none;
}

.section__button:hover {
    background: #000;
    color: #fff;
}

/* Burger */
.burger {
    display: none;
    margin-left: auto;
    background: none;
    border: 0;
    padding: 21px 2px;
    cursor: pointer;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    font-size: 0;
    color: transparent;
    position: relative;
}

.burger__item:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    left: 0;
    top: -8px;
    z-index: 1;
}

.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    left: 0;
    bottom: -8px;
    z-index: 1;
}

.intro {
    padding: 70px 0 20px;
    border-bottom: 1px solid #fafafa;
}

.about-me {
    padding: 30px 0;
    border-bottom: 1px solid #fafafa;
}

.about-me__text {
    text-align: center;
}

.about-me__text.hidden {
    display: none;
}

.skills {
    border-bottom: 1px solid #fafafa;
    margin-top: 30px;
    padding-bottom: 30px;
}

.skills__buttons {
    margin: 10px auto;
    text-align: center;
}

.skills__button {
    width: 100px;
    border-radius: 3px;
    border: 2px solid #000;
    background: none;
    cursor: pointer;
    transition: background 0.2s linear , color 0.2s linear;
}

.skills__button:hover {
    background: #000;
    color: #fff;
}

.skills__button.active {
    background: #000;
    color: #fff;
}

.skills__items.hidden {
    display: none;
}

.hard--skills, .soft--skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.soft__item, .hard__item {
    width: 23%;
    margin: 10px 0;
    text-align: center;
}

.skill__logo {
    width: 100px;
    height: 100px;
    transition: transform 0.1s linear;
}

.skill__title {
    color: black;
}

.hard__item:hover, .soft__item:hover .skill__logo {
    transform: scale(1.03);
}

.hard__item:hover .fas.fa-star.star {
    color: #fad24d;
}

.hard__item:hover .fas.fa-star.half--star {
    background: linear-gradient(90deg, #fad24d 51%, grey 49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.portfolio {
    padding: 30px 0;
    border-bottom: 1px solid #fafafa;
}

.portfolio__item {
    margin: 15px 0;
}

.portfolio__item.hidden {
    display: none;
}

.portfolio-item__link {
    display: block;
    text-align: center;
}

.portfolio__img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.2s linear;
    transition: box-shadow 0.2s linear;
}

.portfolio__img:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.portfolio-item__text {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}

.portfolio-item__links {
    display: flex;
    justify-content: center;
}

.portfolio-item__link {
    display: block;
    margin: 10px 0;
    font-weight: 700;
    color: #000;
    font-size: 20px;
}

.portfolio-item__link:hover {
    text-decoration: underline;
}

.portfolio-item__icon {
    font-size: 40px;
    margin: 0 5px;
}

.contacts {
    padding: 30px 0 0;
}

.contact--btn {
    text-align: center;
    width: 120px;
    padding-left: 0;
    padding-right: 0;
}

.social__items {
    margin: 0 auto;
    text-align: center;
}

.social__icon {
    font-size: 40px;
}

.footer {
    margin-top: 30px;
    border-top: 1px solid #fafafa;
}

.footer__inner {
    text-align: center;
    padding: 10px 0;
}

.fab.fa-github, .fab.fa-html, .fab.fa-css3, .fab.fa-js-square, .fab.fa-linkedin, .fab.fa-instagram {
    transition: opacity 0.1s linear , color 0.1s linear;
}

.fab.fa-github:hover {
    opacity: 0.7;
}

.fab.fa-html5:hover {
    color: #e44d26;
}

.fab.fa-css3:hover {
    color: #006fb7;
}

.fab.fa-js-square:hover {
    color: #f7df1e;
}

.fab.fa-linkedin:hover {
    color: #0073af;
}

.fab.fa-instagram:hover {
    color: #dc004a;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.1s linear;
}

.fas.fa-star.star {
    color: black;
    transition: color 0.1s linear;
}

.fas.fa-star.grey--star {
    color: grey;
}

.fas.fa-star.half--star {
    color: black;
    background: linear-gradient(90deg, black 51%, grey 49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 0.1s linear;
}

.scroll-up {
    position: fixed;
    right: 45px;
    bottom: 62px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    color: black;
    cursor: pointer;
    visibility: hidden;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px black;
    opacity: 0;
    transition: 0.2s;
    transform: translateY(25px);
}

.scroll-up::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    content: "\1F815";
    font-weight: 700;
}

.scroll-up:hover {
    color: orange;
    box-shadow: inset 0 0 0 3px orange;
}

.scroll-up.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.scroll-up__svg {
    fill: none;
}

@media (max-width: 770px) {
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        background-color: #c4d1e2;
        margin-top: 0 !important;
        flex-direction: column;
    }

    .nav.show {
        display: flex;
    }

    .nav__link {
        padding: 7px 15px;
        margin-left: auto;
        margin-right: 15px;
    }

    .nav__link:first-child {
        margin-left: auto;
    }

    .burger {
        display: block;
    }

    .scroll-up {
        right: 10px;
        bottom: 10px;
    }
}

@media (max-width: 650px) {
    .soft__item, .hard__item {
        width: 33%;
    }
}

@media (max-width: 540px) {
    .soft__item, .hard__item {
        width: 49%;
    }
}

@media (max-width: 425px) {
    .soft__item, .hard__item {
        width: 98%;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
